.icon {
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}



/* red: #D43C33 */
/* grey: #888 */
*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

a{color: inherit; text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }

body{font:14px/1.5 Helvetica,sans-serif;color: #333;}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body{
  font-size: 15px;
  background: white;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: white;
}
section.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D43C33;
  padding: 17px 10px;
}
section.topbar .logo{
    display: flex;
}
section.topbar .logo>svg{
  width: 1.5em;height: 1.5em;
  margin-right: 0.5em;
  margin-top: 0.3em;
}
section.topbar .logo .title{
    font-size: 1.3em;
    color: white;
    letter-spacing: 0.1em;
    vertical-align: bottom;
}
section.topbar > a{
  color: white;
  display: inline-block;
  padding: 5px 11px;
  line-height: 20px;
  position: relative;
}
section.topbar > a::after{
  content:'';
  position: absolute;
  top:0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid white;
  border-radius: 50px;
  transform: scale(0.5);
  transform-origin: 0 0;
}

/* tabs-nav */
.tabs-nav{
  display: flex;
  border-bottom: 1px solid #CCCCCC;
}
.tabs-nav>li{
  width: 33.333333%;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-nav>li>.text{
  padding: 10px 5px;
  position: relative;
  top: 1px;
}
.tabs-nav >li.active{
  color: #D43C33;
}
.tabs-nav >li.active>.text::after{
  content: '';
  position: absolute;
  height: 2px;
  background: #D43C33;
  bottom: 1px;
  left: 0;
  width: 100%;
}